<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .responsive {
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.gotra{
pointer-events:none;
background:grey;
}
}
</style>
</head>
<body>
  <center><img src="/../images/banner_1.png" alt="Nature" class="responsive"></center>
<div class="container">
  <form action="/ssk/uploadpp" enctype="multipart/form-data" method="POST" id="form" class="form">

    <div class="row">
        <div class="col-25">
          <label for="firstName" style="font-size: 20px; font: bolder;"><b>Personal Details</b></label>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fullName">Surname of Bride / BrideGroom *</label>
        </div>
        <div class="col-75">
          <select id="surName" name="surName" onchange="ShowHideDiv()">
            <option value="" >--Select--</option>
            <% for(var i=0; i < surNameList.length; i++) { %>
              <option value=<%=surNameList[i] %>> <%=surNameList[i] %></option>
            <% } %>
          </select>
        </div>
        
        </div>

      <div class="row">
        <div class="col-25">
          <label for="fullName">Name of Bride / BrideGroom *</label>
        </div>
        <div class="col-75">
          <input type="text" id="name" name="name" placeholder="Name of Bride / BrideGroom" required>
        </div>
      </div>

      <div class="row">
        <div class="col-25">
          <label for="gotra">Gotra *</label>
        </div>
        <div class="col-75 disable" >
           <select id="gotra1" name="gotra1" class="gotra1" disabled>
            <option value="" >--Select--</option>
            <% for(var i=0; i < gotrasList.length; i++) { %>
              <option value=<%=gotrasList[i] %>> <%=gotrasList[i] %></option>
            <% } %>
            </select>
            <input type="hidden" id = "gotra" name="gotra"/>
        </div>
        Note : if you don't find your gotra please contact admin in WhatsApp: +91 9059415505
      </div>

    <div class="row">
      <div class="col-25">
        <label for="photo">Bride/Groom Photo *</label>
      </div>
      <div class="col-75">
        <input type="file" id="photo" name="photo" placeholder="Photo" required>
      </div>
    </div>
    
    <div class="row">
      <div class="col-25">
        <label for="fathersName">Father's Name *</label>
      </div>
      <div class="col-75">
        <input type="text" id="fathersName" name="fathersName" placeholder="Enter Your Father's Name.." required>
      </div>
  </div>

  <div class="row">
    <div class="col-25">
      <label for="mothersName">Mother's Name *</label>
    </div>
    <div class="col-75">
      <input type="text" id="mothersName" name="mothersName" placeholder="Enter Your Mother's Name.." required>
    </div>
</div>

<div class="row">
  <div class="col-25">
    <label for="dob">Date of Birth *</label>
  </div>
  <div class="col-75">
    <input type="date" id="dob" name="dob" placeholder="Enter Your Date of Birth.." required>
  </div>
</div>

<div class="row">
  <div class="col-25">
    <label for="placeOfBirth">Place of Birth *</label>
  </div>
  <div class="col-75">
    <input type="text" id="placeOfBirth" name="placeOfBirth" placeholder="Enter Your Place of Birth.." required>
  </div>
</div>

<div class="row">
  <div class="col-25">
    <label for="timeOfBirth">Time of Birth *</label>
  </div>
  <div class="col-75">
    <input type="time" id="timeOfBirth" name="timeOfBirth" placeholder="Enter Your Time of Birth.." required>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="timeOfBirth">Janma Naam *</label>
  </div>
  <div class="col-75">
    <input type="text" id="janmaNaam" name="janmaNaam" placeholder="Enter Your Janma Naam.." required>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="timeOfBirth">Nakshatar *</label>
  </div>
  <div class="col-75">
    <select name="nakshatar" id="rashi">
      <option value="">--Select--</option>
      <option value="Aswini">Aswini</option>
      <option value="Bharani">Bharani</option>
      <option value="Kritika">Kritika</option>
      <option value="Rohini">Rohini</option>
      <option value="Mrugasira">Mrugasira</option>
      <option value="Arudra">Arudra</option>
      <option value="Punarvasu">Punarvasu</option>
      <option value="Pushya">Pushya</option>
      <option value="Ashlesha">Ashlesha</option>
      <option value="Makha">Makha</option>
      <option value="Pubba">Pubba</option>
      <option value="Uttara">Uttara</option>
      <option value="Hasta">Hasta</option>
      <option value="Chitta">Chitta</option>
      <option value="Swathi">Swathi</option>
      <option value="Vishakha">Vishakha</option>
      <option value="Anuradha">Anuradha</option>
      <option value="Jyestha">Jyestha</option>
      <option value="Moola">Moola</option>
      <option value="Poorvashadha">Poorvashadha</option>
      <option value="Uttarashadha">Uttarashadha</option>
      <option value="Shravana">Shravana</option>
      <option value="Dhanishta">Dhanishta</option>
      <option value="Shatabhisha">Shatabhisha</option>
      <option value="Poorvabhadra">Poorvabhadra</option>
      <option value="Uttarabhadra">Uttarabhadra</option>
      <option value="Revati">Revati</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-25">
    <label for="timeOfBirth">Rashi *</label>
  </div>
  <div class="col-75">
    <select name="rashi" id="rashi">
      <option value="">--Select--</option>
      <option value="Mesham">Mesham</option>
      <option value="Vrushabham">Vrushabham</option>
      <option value="Midhunam">Midhunam</option>
      <option value="Karkatakam">Karkatakam</option>
      <option value="Simham">Simham</option>
      <option value="Kanya">Kanya</option>
      <option value="Thula">Thula</option>
      <option value="Vruschikam">Vruschikam</option>
      <option value="Dhanussu">Dhanussu</option>
      <option value="Makaram">Makaram</option>
      <option value="Kumbham">Kumbham</option>
      <option value="Meenam">Meenam</option>
    </select>
  </div>
</div>

<div class="row">
  <div class="col-25">
    <label for="heightOfBOrG">Height of the Bride/Bridegroom *</label>
  </div>
  <div class="col-75">
    <input type="text" id="heightOfBOrG" name="heightOfBOrG" placeholder="Enter Height of the Bride/Bridegroom.." required>
  </div>
</div>



<div class="row">
  <div class="col-25">
    <label for="qualification">Educational qualification *</label>
  </div>
  <div class="col-75">
    <input type="text" id="qualification" name="qualification" placeholder="Enter Educational qualification.." required>
  </div>
</div>

<div class="row">
  <div class="col-25">
    <label for="proffession">Job / Proffession *</label>
  </div>
  <div class="col-75">
    <input type="text" id="proffession" name="proffession" placeholder="Enter Job / Proffession.." required>
  </div>
</div>

<div class="row">
  <div class="col-25">
    <label for="fathersMobNum">Mobile Number of Father *</label>
  </div>
  <div class="col-75">
    <input type="text" id="fathersMobNum" name="fathersMobNum" placeholder="Enter Mobile Number of Father.." required>
  </div>
</div>

<div class="row">
  <div class="col-25">
    <label for="mothersMobNum">Mobile Number of Mother *</label>
  </div>
  <div class="col-75">
    <input type="text" id="mothersMobNum" name="mothersMobNum" placeholder="Enter Mobile Number of Mother.." required>
  </div>
</div>

<div class="row">
  <div class="col-25">
    <label for="siblingsDetails">Number of siblings and details *</label>
  </div>
  <div class="col-75">
    <textarea type="text" id="siblingsDetails" name="siblingsDetails" placeholder="Enter Number of siblings and details.." required>
    </textarea>
    </div>
</div>


<div class="row">
  <div class="col-25">
    <label for="prosective">What are you looking for in the prosective Bride or Bridegroom *</label>
  </div>
  <div class="col-75">
    <textarea type="text" id="prosective" name="prosective" placeholder="Enter What are you looking for in the prosective Bride or Bridegroom.." required>
    </textarea>
    </div>
</div>

<div class="row">
  <div class="col-25">
    <label for="otherDetails">Any Other Details *</label>
  </div>
  <div class="col-75">
    <textarea type="text" id="otherDetails" name="otherDetails" placeholder="Enter Any Other Details.." required>
    </textarea>
    </div>
</div>

    
    <br>
    <br>
    <div class="row">
      <input type="submit" value="Submit" id="submit" class="submit">
    </div>
  </form>
</div>
<script>
  function ShowHideDiv(){
    document.getElementById("gotra1").selectedIndex = document.getElementById("surName").selectedIndex;
    document.getElementById("gotra").value = document.getElementById("gotra1").value;
  }
//   document.getElementById("gotra").readOnly = true;
//   $("#form").click(function(event){
//    event.preventDefault();
//    $('.gotra').prop("disabled", false); // Element(s) are now enabled.
// });
</script>
</body>
</html>


