<!DOCTYPE html>
<html>
  <head>
    <title>Success</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Thank you</h1>
    <p>Details updated successfully    </p>
  </body>
</html>
